<div class="login-box">
    <h2>Retro Alimentacion</h2>
    <form>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>VCC</label>
        </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Resitencia Base</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Resistencia Colector</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Resistencia Emisor</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" placeholder="         Si no hay beta, dejar en 0">
        <label>Beta</label>
      </div>


      <section>
      <div>
        <input type="radio" id="control_01" name="select" value="1" checked>
        <label for="control_01" class="label">
          <h5>TIP41C</h5>
          <p></p>
        </label>
      </div>
      <div>
        <input type="radio" id="control_02" name="select" value="2">
        <label for="control_02" class="label">
          <h5>MBS2222</h5>
          <p></p>
        </label>
      </div>
      </section>

      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Calcular
      </a>

    </form>
  </div>
