<div class="wrapper">
    <div class="body">
        <h1>polarización de emisor</h1>
        <label class="mb-3">Seleccione datos con que trabajar</label>
        <form (ngSubmit)="resistencias()" [formGroup]="calcular">
            <div class="VRI">
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('rb')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="rb" id="floatingInput"
                            placeholder="Rb">
                        <label for="floatingInput">Rb (&Omega;)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('rc')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="rc" id="floatingInput"
                            placeholder="Rc">
                        <label for="floatingInput">Rc (&Omega;)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('re')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="re" id="floatingInput"
                            placeholder="Re">
                        <label for="floatingInput">Re (&Omega;)</label>
                    </div>
                </div>
            </div>


            <div class="VRI">
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('vb')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="vb" id="floatingInput"
                            placeholder="Vb">
                        <label for="floatingInput">Vb (V)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('vc')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="vc" id="floatingInput"
                            placeholder="Vc">
                        <label for="floatingInput">Vc (V)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('ve')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="ve" id="floatingInput"
                            placeholder="Ve">
                        <label for="floatingInput">Ve (V)</label>
                    </div>
                </div>
            </div>


            <div class="VRI">
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('ib')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="ib" id="floatingInput"
                            placeholder="Ib">
                        <label for="floatingInput">Ib (A)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('ic')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="ic" id="floatingInput"
                            placeholder="Ic">
                        <label for="floatingInput">Ic (A)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('ie')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="ie" id="floatingInput"
                            placeholder="Ie">
                        <label for="floatingInput">Ie (A)</label>
                    </div>
                </div>
            </div>


            <div class="VRI">
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('vcc')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="vcc" id="floatingInput"
                            placeholder="Vcc">
                        <label for="floatingInput">Vcc (V)</label>
                    </div>
                </div>
                <div class="vcc">
                    <div class="form-check form-switch">
                        <input (change)="desactiva('vce')" class="form-check-input" type="checkbox"
                            id="flexSwitchCheckChecked">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="vce" id="floatingInput"
                            placeholder="Vce">
                        <label for="floatingInput">Vce (V)</label>
                    </div>
                </div>
                <div class="vcc">
                    <label for="floatingInput" id="beta">&#946;</label>
                </div>
            </div>

            <div class="VRI">
                <div class="vcc">
                    <div class="form-check">
                        <input (change)="cambiaT(15,60,6)" class="form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            TIP41C
                        </label>
                    </div>

                    <div class="form-check">
                        <input (change)="cambiaT(100,40,.6)" class="form-check-input" type="radio"
                            name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            MPS2222A
                        </label>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="valoresAltos">
                valor de VCE o Ic fuera de rango!
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="submit">Calcular</button>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button (click)="relo()" class="btn btn-success btn-lg" type="button">Limpiar</button>
            </div>
        </form>

        <div class="res" *ngIf="resultados">
            <h3>RESULTADOS</h3>
            <div class="VRI">
                <div class="vcc">
                    <label>Rb = {{rb.toFixed(3)}} &Omega;</label>
                </div>
                <div class="vcc">
                    <label>Rc = {{rc.toFixed(3)}} &Omega;</label>
                </div>
                <div class="vcc">
                    <label>Re = {{re.toFixed(3)}} &Omega;</label>
                </div>
            </div>
            <div class="VRI">
                <div class="vcc">
                    <label>Vb = {{vb.toFixed(3)}} V</label>
                </div>
                <div class="vcc">
                    <label>Vc = {{vc.toFixed(3)}} V</label>
                </div>
                <div class="vcc">
                    <label>Ve = {{ve.toFixed(3)}} V</label>
                </div>
            </div>
            <div class="VRI">
                <div class="vcc">
                    <label>Ib = {{ib.toFixed(6)}} A</label>
                </div>
                <div class="vcc">
                    <label>Ic = {{ic.toFixed(6)}} A</label>
                </div>
                <div class="vcc">
                    <label>Ie = {{ie.toFixed(6)}} A</label>
                </div>
            </div>
            <div class="VRI">
                <div class="vcc">
                    <label>Vcc = {{vcc.toFixed(3)}} V</label>
                </div>
                <div class="vcc">
                    <label>Vce = {{vce.toFixed(3)}} V</label>
                </div>
                <div class="vcc">
                    <label>Isat = {{isat.toFixed(6)}} A</label>
                </div>
            </div>
        </div>
    </div>
</div>