.wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body {
    width: 100%;
    max-width: 550px;
}
.vcc {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    justify-content: space-around;
}
.VRI{
    display: flex;
}
.res{
    
}